{% extends "htmlheader.html" %}

{% block tittle %}
Sentimental Analysis Home Page
{% endblock %}


{% block content %}
    <h2>{{USERNAME}}</h2>
    <h1>Welcome to Sentiment Analysis</h1>
    <form method="POST" action="/analyze">
        <label for="text">Enter Text:</label>
        </br>
        <!-- Input text swapped to text area -->
        <textarea name="text", id="text" required></textarea>
        </br>
        <input type="submit" value="Analyze">
    </form>
    <a href="/login">login</a>
    <a href="/logout">logout</a>

{% endblock %}